*, html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


header {
    min-height: 80px;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
}

nav {
    overflow: hidden;
    background-color: #183D3D;

}

nav a {
    color: #93B1A6;
    float: left;
    height: 100%;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
}

.header-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-image {
    position: relative;
}

.header-image img {
    width: 100%;
    display: block;

}

.header-image h1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3rem;
    font-family: 'Oleo Script', cursive;
    color: #040D12;
    padding-bottom: 5px;

}


.nav-link {
    display: block;
}

nav a:hover {
    background-color: #181c1f;
}

.register {
    float: right;
}

.container {
    scroll-snap-type: y mandatory;
    /*overflow-y: scroll;*/
    height: 100vh;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

section h1 {
    color: #93B1A6;
}

.first-page {
    background-color: #040D12;
    display: flex;

}

.split {
    height: 100%;
    width: 50%;
    z-index: 1;
    padding: 0;
    margin: 0;

}

.left {
    display: flex;
    flex-direction: column;
    left: 0;
    height: 100%;
    text-align: center;
}

.left h1 {
    margin-top: auto;
}

.introduction {
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 65vh;
    width: 65%;
    font-size: 20px;
    color: #93B1A6;
}

.introduction p {
    margin: 20px 20px;
}

.right {
    right: 0;
    /*background-image: url("images/redd-f-Bxzrd0p6yOM-unsplash.jpg");*/
}

.right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.second-page {
    background-color: #183D3D;
    /*background-color:  #040D12;*/
}

.menu {
    height: 100%;
    width: 50%;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.m-left {
    left: 0;
}

.m-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.m-right {
    display: flex;
    flex-direction: column;
    left: 0;
    height: 100%;
    text-align: center;
    align-items: center;
}

.m-right button {
    height: 5%;
    width: 15%;
    margin-top: 40px;
    border: none;
    font-weight: bold;
    background-color: #040D12;
    color: #93B1A6;
}

.m-right button:hover {
    background-color: #5C8374;
    color: #040D12;
}

.m-right h1 {
    margin: 250px 0 50px;
}

.menu-intro {
    font-size: 22px;
    color: #93B1A6;
    margin: 0 30px;
    text-align: justify;
}

.third-page {
    background-color: #5C8374;
}

.forth-page {
    background-color: #181c1f;
}

@media only screen and (max-width: 480px) {
    .header-image h1 {
        font-size: 22px;
    }

    .left {
        width: 100%;
    }

    .introduction {
        width: 100%;
        height: auto;
    }

    p {
        font-size: 16px;
    }

    .right {
        display: none;
    }
    .second-page{
        display: flex;
        flex-direction: column-reverse;
    }
    .menu{
        height: 90%;
        width: 50%;
    }

    .m-left {
        margin:0;
        align-items: start;
    }
    .m-left img{
        height: 80%;
        margin-top: 20px;
    }

    .m-right {
        width: 100%;
    }

    .m-right h1 {
        font-size: 22px;
        margin-top: 50px;
    }

    .menu-intro {
        font-size: 22px;
        color: #93B1A6;


    }
}

@media (min-width: 481px) and (max-width: 840px) {
    .right {
        width: 40%;
    }

    .left {
        width: 60%;
    }

    .left h1 {
        margin-top: 100px;
    }

    p {
        font-size: 16px;
    }

    .introduction {
        width: 100%;
        height: auto;
    }

    .m-right{
        width: 60%;
    }

    .m-left{
        width: 40%;
    }
}

@media (min-width: 840px) and (max-width: 1024px) {
    .introduction {
        width: 80%;
        height: auto;
    }
}

@media (min-width: 1025px) {
    .introduction {
        width: 90%;
        height: auto;
    }
}